<!DOCTYPE html>
<html>
<head>
  <title>Tu App</title>
  <meta name="turbo-visit-control" content="reload">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
  <%= yield %>  <!-- Aquí se renderiza el contenido de la vista -->
</body>
</html>
